/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Andruha-400;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

/* ---------------------HEADER--------------------- */

/* ---------------------HERO--------------------- */

/* ---------------------ABOUT--------------------- */

/* ---------------------PRICES--------------------- */

/* ---------------------BENEFITS--------------------- */

/* ---------------------BARBRS--------------------- */

/* ---------------------GALLERY--------------------- */

/* ---------------------ONLINE--------------------- */

/* ---------------------cONTACTS--------------------- */

/* ---------------------FOOTER--------------------- */
