/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Andruha-400;
  src: url(../fonts/OpenSans-Regular.ttf);
} */

:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --typical-lh: 1.36;
  --accent-color: #ff6c00;
  --typical-margin: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  line-height: initial;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background: currentColor;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ---------------------HEADER--------------------- */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header-connect {
  margin-left: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 131px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: #ff6c00;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.header-btn {
  color: var(--main-btn-color);
  margin-left: 30px;
}

/* ---------------------HERO--------------------- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
}

.hero-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-wrap {
  padding: 272px 100px 208px;
  background-color: #898b8f;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.hero-title:hover::before {
  color: aquamarine;
}

.hero-title::before {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../img/barbers-img-2.jpeg);
  background-size: cover;
}

.hero-title::after {
  content: '!';
  color: rgb(154, 71, 255);
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/* ---------------------ABOUT--------------------- */

.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
  width: calc((100% - 30px) / 2);
}
.about-item {
}

.about-wrap {
  max-width: 470px;
}
.about-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--typical-margin);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: var(--second-btn-color);
}
/* ---------------------PRICES--------------------- */

.prices {
  background-color: #111319;
  background-image: url(../img/prices-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}
.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}
.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-item-text:first-child {
  order: -1;
}
.prices-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}

/* ---------------------BENEFITS--------------------- */

.benefits {
}

.benefits-container {
  display: flex;
  padding-left: 100px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-right: 130px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  background: #f7f7f7;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-wrap {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;

  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
  display: inline-block;
  position: relative;
}

.benefits-item span::after {
  content: '+';
  top: 7px;
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  left: calc(100% + 1px);

  color: #ff6c00;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
.benefits-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}
.benefits-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* ---------------------BARBRS--------------------- */

.barbers {
  background-color: #f7f7f7;
}

.barbers-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-item:hover .barbers-top-text {
  transform: translateY(0%);
}

.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: #ff6a0081;
  line-height: 1.6;
  font-weight: 600;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}
.barbers-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff6c00;
  color: aqua;
}

.barbers-soc-icon {
  fill: currentColor;
}

.barbers-soc-link:hover {
  background-color: aqua;
  color: rgb(70, 11, 247);
}

/* .barbers-soc-link:hover,
.barbers-soc-link:focus {
  background-color: aqua;
}

.barbers-soc-link:hover .barbers-soc-icon,
.barbers-soc-link:focus .barbers-soc-icon {
  fill: rgb(70, 11, 247);
} */

.test-list {
  display: flex;
  gap: 30px;
}

.test-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.test-link {
  height: 100%;
  border: 1px solid #555555;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-link:hover {
  border-color: aqua;
}

.test-link:hover .test-icon {
  fill: aqua;
}

/* ---------------------GALLERY--------------------- */

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* column-gap: 30px;
  row-gap: 50px; */
  /* margin: -15px; */
}

.gallery-item {
  width: calc((100% - 90px) / 4);
  /* width: calc(100% / 4 - 30px);
  margin: 15px; */
}

.contacts-wrap {
  background-color: #191c26;
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc((100% - 30px) / 2) 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.contacts-wrap > .container {
  display: flex;
  justify-content: space-between;
}
/* ---------------------ONLINE--------------------- */

.online {
  padding-top: 130px;
  padding-bottom: 183px;

  width: calc((100% - 30px) / 2);
}

.online-title {
  color: var(--main-title-color);
}
/* ---------------------cONTACTS--------------------- */

.contacts {
  padding-top: 130px;
  width: calc((100% - 30px) / 2);
  padding-left: 100px;
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}
.contacts-map {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: var(--typical-margin);
  display: inline-block;
}
.contacts-list {
}
.list {
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: var(--typical-margin);
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

/* ---------------------FOOTER--------------------- */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
  display: flex;
  gap: 40px;
}

.footer-item {
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  letter-spacing: 0.2em;

  color: #303030;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(48, 48, 48, 0.534);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 500px;
  min-height: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition: transform 300ms linear;
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0) rotate(-180deg);
}

.modal-close {
  width: 30px;
  height: 30px;
  border: 1px solid #555555;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}
/* --------------------input + icon                 -       ---- */

.modal-field,
.modal-label {
  display: block;
  margin-bottom: 20px;
}
.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 14px;
  color: #111319;
  padding-left: 25px;
}

.modal-input:focus {
  outline-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

/* --------------------------------------- ---- */

.modal-input::placeholder,
.modal-textarea::placeholder {
  font-size: 14px;
  color: #9da4bd;
}

.error {
  display: none;
}

.modal-input:not(:placeholder-shown):not(:focus):valid {
  background-color: rgba(0, 128, 0, 0.217);
}

.modal-input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(128, 60, 0, 0.217);
}

.modal-input:not(:placeholder-shown):not(:focus):invalid + .error {
  display: block;
}

.modal-label-text {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.modal-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.check-text {
  font-size: 14px;
  font-weight: 600;
  color: #999999;
  display: flex;
  position: relative;
  align-items: center;
}

/* .check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid rgba(157, 164, 189, 0.6);
  border-radius: 50px;
  margin-right: 10px;
  background-color: rgba(157, 164, 189, 0.2);
  transition: background-color 250ms linear;
}

.check-text::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #9da4bd;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 250ms linear, background-color 250ms linear;
}

.input-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: rgb(158, 210, 158);
}

.input-check:checked + .check-text::before {
  background-color: rgb(255, 255, 255);
} */

/* ------------------------sprite ------------------------*/

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  display: block;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: #ffffff;
}

/* ------------------------before ------------------------*/

/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  display: block;
  border-radius: 2px;
  margin-right: 5px;
}
.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
