.pre-title {
  @include font(11px, 1.36, 600, 0.1em);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background: currentColor;
  }
}
